{% extends "base.html" %}

{% block title %}
INDEX
{% endblock %}

{% block content %}
    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to Humorous Slip</h1>
        <p class="lead">
          Type in four phrases below, and we'll generate two comics for you:

          <p class="medium">
            1. A normal comic generated directly from the phrases you gave.
            <br>
            2. A silly comic generated through language translation and word association.
          </p>

        </p>

      </div>

      <!-- Form -->
      <div class="container">
        <!-- change names based on app.py, CHANGE TO POST-->
        <form class="form-input" method="POST" action="comic">

          <label for="inputPhrase1" class="sr-only">Phrase #1</label>
          <input type="phrase1" name="phrase1" id="inputPhrase1" class="form-control" placeholder="Phrase #1" required>

          <label for="inputPhrase2" class="sr-only">Phrase #2</label>
          <input type="phrase2" name="phrase2" id="inputPhrase2" class="form-control" placeholder="Phrase #2" required>

          <label for="inputPhrase3" class="sr-only">Phrase #3</label>
          <input type="phrase3" name="phrase3" id="inputPhrase3" class="form-control" placeholder="Phrase #3" required>

          <label for="inputPhrase4" class="sr-only">Phrase #4</label>
          <input type="phrase4" name="phrase4" id="inputPhrase4" class="form-control" placeholder="Phrase #4" required>

          <a href="/comic">
          <button class="btn btn-lg btn-block" type="submit">Generate my Comic!</button>
          </a>

        </form>
      </div>

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript ***FIX LATER***
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    -->

{% endblock %}
