{% extends "base.html" %}

{% block title %}
INDEX
{% endblock %}

{% block content %}
<main role="main" class="container">

  <div class="starter-template">
    <h1>Welcome to Humorous Slip!</h1>
      <p class="lead">
        Input four phrases and the additional information below, and we'll generate two comics for you:
          <h3>Normal Comic:</h3> <p class="medium">Generated directly from the phrases you gave.</p>
          <h3>Silly Comic:</h3> <p class="medium">Generated through language translation and word association.</p>
      </p>

  </div>

  <!-- Form -->
  <div class="container">
    <!-- change names based on app.py, CHANGE TO POST-->
    <form action="/comic" class="form-input" method="GET" id="make_comic">

      <!-- Phrases -->
      <h3>Phrases</h3>

      <label for="inputPhrase1" class="sr-only">Phrase #1</label>
      <input type="phrase1" name="phrase1" id="inputPhrase1" class="form-control" placeholder="Phrase #1" required>

      <label for="inputPhrase2" class="sr-only">Phrase #2</label>
      <input type="phrase2" name="phrase2" id="inputPhrase2" class="form-control" placeholder="Phrase #2" required>

      <label for="inputPhrase3" class="sr-only">Phrase #3</label>
      <input type="phrase3" name="phrase3" id="inputPhrase3" class="form-control" placeholder="Phrase #3" required>

      <label for="inputPhrase4" class="sr-only">Phrase #4</label>
      <input type="phrase4" name="phrase4" id="inputPhrase4" class="form-control" placeholder="Phrase #4" required>

      <br>

      <!-- API Key -->
      <h3>TextRazor API Key<small><font color="#F79E7E">*</font></small></h3>
      <label for="inputApi" class="sr-only">Api Key</label>
      <input type="phrase2" name="apiKey" id="inputApi" class="form-control" placeholder="Your API Key here." required>

      <small id="form_details" class="form-text text-muted"><large><font color="#F79E7E">*</font></large> If you don't have a TextRazor API Key, you can procure one <a href="https://www.textrazor.com/signup">here</a>. Copy the API Key as it appears in the grey box once you sign up, and then paste it above. </small>

      <br>

      <!-- Silliness Level -->
      <h3>Silliness Level</h3>
      <div>
        <table class="table table-bordered">
          <tr>
            <td>
              <center>
                <select class="form-control">
                  <option selected>Pick Level</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </center>
            </td>
          </tr>
        </table>
      </div>

      <br>

      <button form="make_comic" class="btn btn-lg btn-block" type="submit" value="submit">Generate my Comic!</button>

    </form>
  </div>

</main>


    <!-- /.container -->


    <!-- Bootstrap core JavaScript ***FIX LATER***
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    -->
    <script>
    var rangeSlider = function(){
      var slider = $('.range-slider'),
          range = $('.range-slider__range'),
          value = $('.range-slider__value');

      slider.each(function(){

        value.each(function(){
          var value = $(this).prev().attr('value');
          $(this).html(value);
        });

        range.on('input', function(){
          $(this).next(value).html(this.value);
        });
      });
    };

    rangeSlider();
    </script>


{% endblock %}
